<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.murlidhar.happyhours" >

    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="9" >
    </uses-sdk>


    <application
        android:allowBackup="true"
        android:icon="@drawable/happyhr"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.murlidhar.happyhours.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.murlidhar.happyhours.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.murlidhar.happyhours.ResaturantDetails"
            android:label="@string/title_activity_resaturant_details" >
        </activity>
    </application>

</manifest>
